#loginvisitButton{
  -fx-background-color: rgba(218, 178, 138, 0.7);
  -fx-text-fill: rgba(98, 62, 31, 0.94);
}
#visitUsername{
  -fx-background-color: rgba(218, 178, 138, 0.7);
  -fx-prompt-text-fill: rgba(98, 62, 31, 0.94) ;
}
#username{
  -fx-background-color: rgba(218, 178, 138, 0.7);
  -fx-prompt-text-fill: rgba(98, 62, 31, 0.94) ;
}
#password{
  -fx-background-color: rgba(218, 178, 138, 0.7);
  -fx-prompt-text-fill: rgba(98, 62, 31, 0.94) ;
}
#registerButton{
  -fx-text-fill: rgba(98, 62, 31, 0.94);
}
#registerConfirmPassword{
  -fx-background-color: rgba(218, 178, 138, 0.7);
  -fx-prompt-text-fill: rgba(98, 62, 31, 0.94) ;
}
#registerUsername{
  -fx-background-color: rgba(218, 178, 138, 0.7);
  -fx-prompt-text-fill: rgba(98, 62, 31, 0.94) ;
}
#registerPassword{
  -fx-background-color: rgba(218, 178, 138, 0.7);
  -fx-prompt-text-fill: rgba(98, 62, 31, 0.94) ;
}
#registration{
  -fx-background-color: rgba(218, 178, 138, 0.7);
  -fx-prompt-text-fill: rgba(98, 62, 31, 0.94) ;
}

/* Make ScrollPane transparent */
.transparent-scroll_pane {
  -fx-background: transparent;
  -fx-background-color: transparent;
}

.transparent-scroll_pane .viewport {
  -fx-background: transparent;
  -fx-background-color: transparent;
}

